* {
  font-family: "Archivo";
  font-style: normal;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
:root {
  --color-white: #ffffff;
  --color-black: #000000;
}
/*Text Styles Start*/
.text-h1 {
  margin-top: 5px;
  margin-left: 77px;
  font-weight: 900;
  font-size: 128px;
  text-transform: uppercase;
  color: var(--color-black);
  letter-spacing: 5px;
}
.text-h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 87.8%;
  text-transform: uppercase;
  color: var(--color-black);
  font-stretch: 125;
}
.text-h2 span {
  margin-left: 16px;
}
.text-p {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  color: #ffffff;
}
/*Text Styles STOP*/

/*Header Start*/
.header {
  position: relative;
  height: 810px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 38px;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: -1;
}
.header__wrapper {
  padding-top: 38px;
  z-index: 1;
  display: flex;
  margin: 0 44px;
  justify-content: space-between;
}
.header__blur-left {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 50%;
  border-top-right-radius: 50%;
  backdrop-filter: blur(2px);
}
.header__blur-right {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 50%;
  border-bottom-left-radius: 50%;
  backdrop-filter: blur(2px);
}
.header-container {
  width: 100%;
  position: absolute;
  z-index: 3;
}
.logo {
}
.header__menu-btn {
  cursor: pointer;
  margin-top: 3px;
  margin-right: 1px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  gap: 4px;
}
.header__menu-btn span {
  width: 100%;
  border: 2px solid var(--color-black);
}
.header__menu {
  display: none;
  position: fixed;
  overflow: hidden;
  right: 0;
  z-index: 5;
  width: 30vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  animation: right-init 0.5s;
}
.header__menu_wrapper {
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
}
.header__menu_close {
  cursor: pointer;
  position: absolute;
  background: none;
  border: none;
  top: 30px;
  right: 42px;
}
.header__menu_logo {
  height: 15%;
  position: absolute;
  top: 89px;
  left: 37px;
}
.header__menu_img {
  position: absolute;
  bottom: 10%;
  left: 37px;
}
.header__menu_nav {
  position: absolute;
  top: 30%;
  right: 43px;
  list-style: none;
}
.header__menu_nav-item {
  cursor: pointer;
  font-weight: 600;
  font-size: 3em;
  line-height: 100%;
  /* or 64px */

  text-align: right;
  text-decoration-line: underline;

  color: #ffffff;
  font-stretch: 125;
}
.header__menu_email {
  position: absolute;
  bottom: 45px;
  right: 43px;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 100%;
  /* or 64px */

  text-align: right;
  text-decoration-line: underline;

  color: #ffffff;
  font-stretch: 125;
}

.contact-btn {
  margin-top: 155px;
  margin-left: 84%;
  background: transparent;
  border: none;
}
.contact-btn img {
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.contact-btn img:hover {
  cursor: pointer;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
}
.header-description {
  display: inline-block;
  transition: left 0.2s linear;
  padding: 8px 0;
  width: 57%;
  height: 25px;
  background: var(--color-black);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
.header-description .text-p {
  color: var(--color-white);

  font-weight: 600;
  font-size: 20px;
  line-height: 87.8%;
  /* identical to box height, or 18px */

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.header-p {
  width: 90%;
  margin: 0 auto;
  margin-top: 17px;
}
.header__portfolio-block {
  margin-right: 22px;
  width: 257px;
  height: 186px;
  background: var(--color-black);
}
.header__portfolio-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  margin-top: 77px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  color: var(--color-white);
}
.header__portfolio-block:hover .header__portfolio-link {
  flex-direction: row-reverse;
  cursor: pointer;
  color: lightgray;
  transition: width 0.4s ease-in-out;
}
/*Header STOP*/

/*Mission START*/
.mission {
  top: -65px;
  margin-left: 44px;
  position: relative;
  background: var(--color-black);
  padding-top: 99px;
}
.mission-header {
  margin-left: 52px;
}
.mission-header .mission-p {
  margin-top: 28px;
  width: 52%;
}
.mission-line {
  z-index: 0;
  width: 70%;
  position: absolute;
  right: 0;
  top: 50px;
  animation: right-init 1s;
}
.mission-principles {
  margin-top: 100px;
  margin-left: 50px;
  animation-name: sphere;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding-bottom: 100px;
}
.mission-h2 span {
  color: #ffffff;
  opacity: 0.5;
}
.mission-p {
  font-weight: 900;
  font-size: 40px;
  line-height: 87.8%;
  /* or 35px */

  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
}
.mission-ul {
  width: 414px;
  margin-top: 29px;
  list-style: none;
}
.mission-li {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */

  color: #ffffff;
  font-stretch: 125;
  border-left: 3px solid #ffffff;
  padding-left: 19px;
  margin-bottom: 28px;
}
.mission-glitch {
  width: 75%;
  height: 60px;
  background: url(../img/mission/Glitch.png);
  margin-left: auto;
}
.mission-numbers {
  margin-top: 105px;
}
.mission-quote {
  position: absolute;
  left: -45px;
  width: 38%;
  height: 461px;
  background: url(../img/mission/quote-background.png);
  background-repeat: no-repeat;
  animation: left-init 1s;
}

.mission-quote-wrapper {
  padding-top: 19px;
  margin-left: 20%;
}
.quote-mark {
  font-weight: 900;
  font-size: 6em;
  line-height: 87.8%;
  /* or 84px */

  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.quote-mark:nth-of-type(2n) {
  text-align: right;
  transform: rotate(180deg);
}
.quote-p {
  width: 61%;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 100%;
  /* or 20px */

  color: #000000;
  font-stretch: 125;
}
.quote-signature {
  margin-top: 9px;
  display: flex;
  align-items: center;
}
.quote-signature span {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signature-initials {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  color: #000000;
  font-stretch: 125;
}
.signature-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* identical to box height, or 20px */

  color: #000000;
  font-stretch: 110;

  opacity: 0.5;
}
.mission-numbers-wrapper {
  margin-left: 43%;
}
.mission-numbers__grid {
  margin-top: 36px;
  padding-bottom: 223px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
  width: 52%;
}
.mission-numbers__grid-item {
}
.mission-number {
  font-weight: 900;
  font-size: 96px;
  line-height: 87.8%;
  /* or 84px */

  text-transform: uppercase;

  color: #000000;
  font-stretch: 125;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.numbers-p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 87.8%;
  /* or 18px */

  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
}
/*Mission STOP*/

/*AREAS START*/
.areas {
  margin-top: -200px;
  z-index: -1;
  width: 100%;
  padding-top: 276px;
  background: url(../img/areas/areas-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.areas-wrapper {
  display: block;
  width: 88%;
  margin: 0 auto;
}
.areas-first-link {
  z-index: 2;
  position: absolute;
  top: 18%;
  left: 16.5%;
  width: 18%;
}
.areas-middle-link {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.areas-line {
  position: relative;
  display: flex;
  justify-content: center;
}
.areas-first-item {
  width: 28%;
  height: 200px;
  background: transparent;
  border: none;
  backdrop-filter: none;
  margin-right: auto;
}
.areas-item {
  width: 28%;
  height: 200px;
  background: rgba(185, 185, 185, 0.1);
  border: 2px solid #ffffff;
  backdrop-filter: blur(15px);
}
.areas-item:hover {
  background: var(--color-black);
  color: var(--color-white);
  transition: 0.2s;
}
.areas-first-item .areas-h2 span {
  margin-left: 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: 87.8%;

  text-transform: uppercase;

  color: #000000;
  font-stretch: 125;
}
.areas-first-item .areas-p {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */

  color: #000000;
  font-stretch: 125;
}

.areas-item-wrapper {
  width: 80%;
  margin-top: 32px;
  margin-left: 31px;
}
.areas-h2 {
  display: flex;
  align-items: center;
}
.areas-h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 87.8%;
  /* or 18px */

  text-transform: uppercase;

  color: #000000;
  font-stretch: 125;
}
.areas-item:hover .areas-h2 {
  color: var(--color-white);
  transition: 0.2s;
}
.areas-item:hover .areas-p {
  color: var(--color-white);
  transition: 0.2s;
}
.areas-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */

  color: #000000;
  font-stretch: 110;
  margin-top: 28px;
}
/*AREAS STOP*/

/*Chain START*/
.chain-support {
  margin-top: 50px;
}
.chain-support-wrapper {
  margin: 0 auto;
  width: 90%;
}
.chain-first-line {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
}
.chain-line-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  border-radius: 64px;
}
.chain-line-item img {
  background: white;
  border-radius: 50%;
}
.chain-description {
  display: none;
  margin-left: 19px;
  margin-right: 20px;
  animation: left-init 1s;
}
.chain-h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 87.8%;
  /* identical to box height, or 18px */

  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
}
.chain-a {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  text-decoration-line: underline;

  color: #ffffff;
  font-stretch: 125;
}

.chain-second-line {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
.chain-third-line {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
/*Chain STOP*/

/*Solutions START*/
.solutions {
  position: relative;
  margin-top: 185px;
  padding-top: 91px;
  padding-bottom: 112px;
  background: var(--color-black);
}
.solutions__heading {
  position: absolute;
  top: 91px;
  left: 50%;
}
.solutions-h2 span {
  color: #ffffff;
  opacity: 0.5;
}
.solutions__menu {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.solutions__menu_item {
  cursor: pointer;
  width: 25px;
  height: 6px;
  background: #ffffff;
  opacity: 0.4;
  border-radius: 22px;
}
.solutions__menu_item-active {
  cursor: default;
  width: 100px;
  height: 6px;
  opacity: 1;
  transition: 0.5s;
}
.solutions__list {
  margin-top: 60px;
  width: 100%;
}
.solutions__list_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  animation-name: fade;
  animation-duration: 1.5s;
}
.solutions__item_preview {
  width: 50%;
}
.solutions__item_preview img {
  display: block;
  margin: 0 auto;
}
.solutions__item_description {
  margin-top: 118px;
  width: 50%;
}
.deactivated {
  display: none;
}
.solution-h2 {
  width: 60%;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 87.8%;
  /* or 35px */

  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
}
.solution-p {
  width: 60%;
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  color: #ffffff;
  font-stretch: 125;
}
.solution-ul {
  margin-top: 50px;
  list-style-type: none;
  border-spacing: 29px;
}
.solution-li {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */

  color: #ffffff;
  font-stretch: 125;
  border-left: 3px solid #ffffff;
  padding-left: 19px;
  margin-bottom: 29px;
}
.solution-note {
  margin-top: 47px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #ffffff;
  font-stretch: 125;

  opacity: 0.5;
}
/*Solutions STOP*/

/*Contact START*/
.contact {
}
.contact-wrapper {
  margin-top: 112px;
  margin-left: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form {
  width: 504px;
}
.contact-h2 span {
  font-weight: 900;
  font-size: 32px;
  line-height: 87.8%;
  /* identical to box height, or 28px */

  text-transform: uppercase;

  color: #000000;
  font-stretch: 125;

  margin-left: 16px;
}
.contact-h3 {
  margin-top: 38px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  color: #000000;
  font-stretch: 125;
}
.contact-input-small {
  margin-top: 11px;
  user-select: none;
  width: 504px;
  height: 54px;
  background: #ffffff;
  border: 2px solid #000000;
}
.contact-input-big {
  margin-top: 11px;
  resize: none;
  user-select: none;
  width: 504px;
  height: 203px;
  background: #ffffff;
  border: 2px solid #000000;
  word-wrap: break-word;
  text-align: left;
}
.contact-input-checkbox {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contact-input-checkbox + label {
  margin-top: 22px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  width: 404px;
}
.contact-input-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 29px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #000000;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 115% 115%;
  cursor: pointer;
}
.contact-input-checkbox:checked + label::before {
  background-image: url(../img/contact/checkbox.svg);
  transition: 0.5s;
}
.contact-button {
  cursor: pointer;
  margin-top: 18px;
  display: block;
  width: 100%;
  height: 64px;
  background: #000000;
  border: 2px solid #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 87.8%;
  /* identical to box height, or 18px */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
}
.contact-info {
  margin-left: 120px;
  background: url(../img/contact/contact-lines.png) 0 100%,
    url(../img/contact/contact-lines.png);
  background-repeat: repeat-x;
  padding-top: 236px;
  padding-bottom: 236px;
  display: flex;
  flex-direction: row;
}
.contact-info-description {
  margin-left: 81px;
}
/*Contact STOP*/

/*Vacations START*/
.vacations {
  margin-top: 172px;
  background: url(../img/vacations/vacations-background.png);
  background-repeat: no-repeat;
}
.vacations-header {
  display: flex;
  justify-content: space-around;
  margin-left: 96px;
  margin-right: 52px;
}
.vacations-h2 {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 87.8%;
  /* identical to box height, or 28px */

  text-transform: uppercase;

  color: #000000;
  font-stretch: 125;
}
.vacations-h2 span {
  width: 327px;
  margin-left: 16px;
}
.vacations-header__arrows {
  margin-left: 35px;
  height: 25px;
  width: 90%;
  background: url(../img/vacations/vacations-arrows.png);
  background-repeat: repeat-x;
}
.vacations-flex {
  margin: 0 96px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.vacations-flex__item {
  width: 378px;
  height: 336px;
  background: url(../img/vacations/vacation-background.svg);
}
.vacations-flex__item-description {
  margin-top: 35px;
  margin-left: 31px;
}
.vacation-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 87.8%;
  /* or 18px */

  text-transform: uppercase;

  color: #ffffff;
  font-stretch: 125;
}
.vacation-requirements {
  margin-top: 20px;
  list-style-type: none;
}
.vacation-requirements-li {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  color: #ffffff;
  font-stretch: 125;
}
.vacation-apply-btn {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */

  color: #ffffff;
  font-stretch: 110;
  cursor: pointer;
}
.vacation-apply-btn-arrow {
  margin-left: 15px;
}
.vacation-apply-btn:hover {
  color: lightgray;
}
.vacation-p {
  width: 61%;
  margin: 0 auto;
  margin-top: 127px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  text-align: center;

  color: #000000;
  font-stretch: 125;
}
.vacation-arrow {
  display: block;
  margin: 0 auto;
  margin-top: 19px;
}
.vacation-email {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 33px;
  font-weight: 400;
  font-size: 64px;
  line-height: 87.8%;
  /* or 56px */

  text-transform: uppercase;

  color: #000000;
  font-stretch: 125;
  text-align: center;
}
/*Vacations STOP*/

/*Footer Start*/
.footer {
  margin-top: 194px;
  position: relative;
  background: var(--color-black);
}
.footer::before {
  content: "";
  height: 0px;
  width: 0px;
  position: absolute;
  left: 0px;
  top: -100px;
  bottom: -10px;
  box-sizing: border-box;
  border-bottom: 100px solid rgb(0, 0, 0);
  border-right: 99vw solid transparent;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 7%;
}
.footer-logo {
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.footer-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */

  text-decoration-line: underline;

  color: #ffffff;
  font-stretch: 125;
}
.footer-email {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* or 16px */

  text-decoration-line: underline;

  color: #ffffff;
  font-stretch: 125;
}
.footer-img {
}
.footer-copyright {
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright-arrows {
  width: 100%;
  height: 10.39px;
  background: url(../img/footer/footer-arrows.svg);
}
.footer-p {
  text-align: center;
  width: 100%;
}
.footer-copyright-arrows:nth-of-type(2n) {
  transform: scaleX(-1);
}
/*Footer STOP*/

.hidden {
  display: none;
}

/*Animations START*/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sphere {
  0% {
    background: url(../img/mission/sphere-1.png) 100% 0 no-repeat;
  }
  50% {
    background: url(../img/mission/sphere-2.png) 100% 0 no-repeat;
  }
  100% {
    background: url(../img/mission/sphere-3.png) 100% 0 no-repeat;
  }
}
@keyframes right-close {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes left-init {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}
@keyframes right-init {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}
/*Animations STOP*/

/*Media Requests START*/
@media (max-width: 1920px) {
  .mission-line {
    top: -50px;
  }
  .areas-first-link {
    width: 21%;
    left: 15%;
  }
}
@media (max-width: 1900px) {
  .mission-line {
    top: -40px;
  }
}
@media (max-width: 1800px) {
  .mission-line {
    top: 0px;
  }
}
@media (max-width: 1700px) {
  .mission-line {
    top: 50px;
  }
}
@media (max-width: 1410px) {
  .mission-line {
    top: 5%;
  }
  .areas-first-link {
    width: 18%;
    left: 16%;
  }
}
@media (max-width: 1330px) {
  .mission-line {
    top: 6%;
  }
  .areas-first-link {
    width: 16%;
    left: 18%;
  }
  .quote-mark {
    font-size: 60px;
  }
  .vacations-flex__item {
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .vacation-h3 {
    font-size: 15px;
  }
  .vacation-requirements-li {
    font-size: 15px;
  }
  .vacation-apply-btn {
    margin-top: 25px;
  }
  .vacation-apply-btn-arrow {
    width: 50%;
  }
}
@media (max-width: 1220px) {
  .mission-line {
    top: 10%;
  }
  .areas-first-link {
    width: 15%;
    left: 18%;
  }
  .vacation-apply-btn {
    margin-top: 15px;
  }
  .vacation-apply-btn-arrow {
    width: 45%;
  }
}
@media (max-width: 1140px) {
  .header-description .text-p {
    font-size: 15px;
    padding: 7px;
  }
  .quote-p {
    width: 90%;
  }
  .areas-first-link {
    width: 13%;
    top: 42px;
    left: 19%;
  }
  .vacations-flex {
    flex-direction: column;
    justify-content: center;
  }
  .vacations-flex__item {
    margin: 0 auto;
  }
}
@media (max-width: 1040px) {
  .text-h1 {
    font-size: 50px;
  }
  .header-description .text-p {
    font-size: 10px;
  }
  .mission-line {
    top: 12%;
  }
  .mission-number {
    font-size: 60px;
  }
  .areas-first-item .areas-p {
    margin-top: 0;
  }
  .areas-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .areas-first-item {
    margin: 0;
  }
  .areas-line img {
    transform: rotate(90deg);
    width: 10%;
    height: 96px;
  }
  .areas-first-link {
    display: none;
  }
  .areas-middle-link {
    display: none;
  }
  .chain-line-item img {
    height: 80px;
    background: white;
    border-radius: 50%;
  }
  .hidden {
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
    width: 10%;
    height: 96px;
  }
  .contact-wrapper {
    margin-left: 0;
    flex-direction: column;
    gap: 100px;
  }
  .contact-info {
    margin: 0;
  }
  .footer-p {
    font-size: 16px;
  }
}
@media (max-width: 940px) {
  .header__menu_nav-item {
    font-size: 40px;
  }
  .mission-line {
    top: 16%;
  }
  .solutions__item_preview img {
    width: 80%;
  }
  .footer-logo,
  .footer-img {
    width: 100px;
  }
  .footer-link {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .header__menu_logo {
    width: 40%;
  }
  .header__menu_nav-item {
    font-size: 30px;
  }
  .header__menu_img {
    width: 30%;
  }
  .header__menu_email {
    font-size: 16px;
  }
  .header__portfolio-block {
    width: 18%;
  }
  .header-p {
    font-size: 15px;
  }
  .header__portfolio-link {
    margin-top: 35px;
  }
  .contact-btn {
    margin-left: 75vw;
  }
  .header__portfolio-link span {
    font-size: 12px;
  }
  .header__portfolio-link img {
    width: 50%;
  }
  .mission-line {
    top: 19%;
  }
}
@media (max-width: 700px) {
  .mission-principles {
    animation: none;
  }
  .mission-p {
    font-size: 30px;
  }
  .mission-line {
    width: 30%;
    top: 15%;
  }
  .quote-p {
    font-size: 17px;
  }
  .mission-number {
    font-size: 40px;
  }
  .numbers-p {
    font-size: 15px;
  }
  .areas-item {
    width: 35%;
  }
  .vacation-email {
    font-size: 30px;
  }
}
@media (max-width: 630px) {
  .mission-quote {
    display: none;
  }
  .mission-numbers-wrapper {
    width: 50%;
    margin: 0 auto;
  }
  .mission-line {
    display: none;
  }
  .areas-first-item {
    width: 50%;
  }
  .areas-h2 {
    font-size: 20px;
  }
  .chain-h2,
  .chain-a {
    font-size: 10px;
  }
  .areas-item {
    width: 50%;
  }
  .footer-logo,
  .footer-img {
    width: 10%;
  }
  .footer-links {
    gap: 5px;
  }
  .footer-link {
    font-size: 15px;
  }
}
/*Media Requests STOP*/
